<!DOCTYPE html>
<html lang ="en" xmlns="http://thymeleaf.org">
<head>
    <title>Form Tambah Pesawat</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <object th:replace = "fragments/fragment :: navbar"></object>
    <div class="container-fluid">
        <h3>Tambah Pesawat</h3>
        <form th:action="@{/pesawat/tambah}" th:object = "${pesawat}" method = "POST">
            Nama Maskapai:<br>
            <input type="text" class="form-control" name="maskapai" />
            <br><br>
            Tanggal dibuat:<br>
            <input type="date" class="form-control"  name="tanggal" />
            <br><br>
            Tempat dibuat:<br>
            <input type="text" class="form-control" name="tempatDibuat" />
            <br><br>
            Jenis:<br>
            <select class="form-control" name = "jenis">
                <option value="Komersial">Komersial</option>
                <option value = "Militer">Militer</option>
            </select>
            <br><br>
            Tipe:<br>
            <select class="form-control" name = "tipeModel">
                <option value="0">Pilih tipe</option>
                <option th:each="tipe : ${tipes}" th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}"></option>
            </select>
            <table class="table">
                <thead>
                    <tr>
                        <th class="font-weight-bold">Teknisi:</th>
                    </tr>
                </thead>
                <tbody>
                    <input type="submit" value="Tambah Teknisi" name="addRow" class="btn btn-block btn-primary">
                    <tr th:each="teknisi, iterationStatus : *{listPesawatTeknisi}">
                        <td>
                            <div class="form-group">
                                <select th:field="*{listPesawatTeknisi[__${iterationStatus.index}__].teknisiModel}" class="form-control">
                                    <option th:each="teknisi : ${teknisis}" th:value="${teknisi.idTeknisi}" th:text="${teknisi.nama}"></option>
                                </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        <button type="submit" name="save" class="btn btn-block btn-success">Simpan</button>
    </div>
</body>
</html>