<!DOCTYPE html>
<html lang ="en" xmlns="http://thymeleaf.org">
<head>
    <title>Update Pesawat</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <object th:replace = "fragments/fragment :: navbar"></object>
    <div class="container-fluid">
    <h2 th:text = "'Pesawat dengan nomor seri ' + ${pesawat.nomorSeri}+ ' berhasil diupdate.'"></h2>
    </div>
</body>
</html>